body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  text-align: center;
}

.container {
  margin-top: 50px;
}

input {
  padding: 10px;
  margin: 5px;
}

button {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

.card {
  background: #1e293b;
  padding: 20px;
  margin: 20px auto;
  width: 200px;
  border-radius: 10px;
}
